HTTP_PORT=11626
PUBLIC_HTTP_PORT=true
RUN_STANDALONE=true

DATABASE="postgresql://dbname=core host=__DB_HOST__ user=stellar password=__PGPASS__"
NETWORK_PASSPHRASE="__NETWORK__"

# NODE_SEED="SDQVDISRYN2JXBS7ICL7QJAEKB3HWBJFP2QECXG7GZICAHBK4UNJCWK2 self"
__NODE_SEED_LINE__
NODE_IS_VALIDATOR=true


UNSAFE_QUORUM=true
FAILURE_SAFETY=0

COMMANDS=["ll?level=debug"]
#The public keys of the Stellar testnet servers
[QUORUM_SET]
THRESHOLD_PERCENT=100
VALIDATORS=["$self"]

[HISTORY.vs]
put="aws s3 cp {0} s3://fic-network-node-1/{1}"
get="aws s3 cp s3://fic-network-node-1/{0} {1}"
